<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpoint</key>
	<dict>
		<key>basic</key>
		<dict>
			<key>connection-udp</key>
			<dict>
				<key>#auto#user</key>
				<string>3001</string>
				<key>#auto#server</key>
				<string>192.168.1.93:5060</string>
				<key>transport</key>
				<string>udp</string>
				<key>registrationTimeout</key>
				<string>5000</string>
				<key>regInterval</key>
				<string>1500</string>
				<key>#password</key>
				<string>password</string>
				<key>#mailbox</key>
				<dict>
					<key>user</key>
					<string>8049</string>
					<key>password</key>
					<string>mailBoxPassword</string>
					<key>server</key>
					<string>135.225.51.235:5060</string>
					<key>transport</key>
					<string>udp</string>
					<key>timeout</key>
					<string>1300</string>
				</dict>
				<key>#nat</key>
				<dict>
					<key>iceEnabled</key>
					<integer>0</integer>
					<key>stunServer</key>
					<string>pixie.genesyslab.com</string>
					<key>stunServerPort</key>
					<string>3478</string>
					<key>turnServer</key>
					<string>turnServerAddress</string>
					<key>turnServerPort</key>
					<string>1000</string>
					<key>turnUsername</key>
					<string>turnUserName</string>
					<key>turnPassword</key>
					<string>turnPassword</string>
					<key>turnRelayType</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>GSDefaultConnectionPolicy</key>
		<dict/>
		<key>GSDefaultDevicePolicy</key>
		<dict>
			<key>use_headset</key>
			<false/>
			<key>#audio_in_device</key>
			<string>Jabra Link 220</string>
			<key>#audio_out_device</key>
			<string>Jabra Link 220</string>
		</dict>
		<key>GSDefaultEndpointPolicy</key>
		<dict>
			<key>#auto#public_address</key>
			<string>135.225.31.36</string>
			<key>ip_versions</key>
			<string>IPv4,IPv6</string>
			<key>signalingQos</key>
			<integer>22</integer>
			<key>secureSignalingQos</key>
			<integer>2</integer>
			<key>audioQos</key>
			<integer>63</integer>
			<key>videoQos</key>
			<integer>33</integer>
			<key>includeOSVersionInUserAgentHeader</key>
			<true/>
			<key>rtpPortMax</key>
			<string>65535</string>
			<key>rtpPortMin</key>
			<string>1025</string>
			<key>sipPortMax</key>
			<string>5080</string>
			<key>sipPortMin</key>
			<string>5060</string>
			<key>rtpInactivityTimeout</key>
			<string>0</string>
			<key>vqReportPublish</key>
			<integer>0</integer>
			<key>vqReportCollector</key>
			<string></string>
			<key>videoMaxBitrate</key>
			<integer>1000</integer>
			<key>sipTransactionTimeout</key>
			<integer>4000</integer>
			<key>webrtcAudiotLayer</key>
			<integer>0</integer>
		</dict>
		<key>GSDefaultSessionPolicy</key>
		<dict>
			<key>agc_mode</key>
			<string>1</string>
			<key>dtx_mode</key>
			<string>1</string>
			<key>vad_level</key>
			<string>1</string>
			<key>reject_session_when_headset_na</key>
			<false/>
			<key>sip_code_when_headset_na</key>
			<string>480</string>
			<key>auto_answer</key>
			<false/>
			<key>auto_accept_video</key>
			<false/>
			<key>codecs</key>
			<dict>
				<key>PCMU/8000/1</key>
				<integer>15</integer>
			</dict>
			<key>dtmf_method-Info</key>
			<string>Info</string>
		</dict>
		<key>system</key>
		<dict>
			<key>diagnostics</key>
			<dict>
				<key>logger_type</key>
				<string>default</string>
				<key>log_file</key>
				<string>SipEndpoint.log</string>
				<key>enable_logging</key>
				<true/>
				<key>log_level</key>
				<string>debug</string>
				<key>log_options_provider</key>
				<string>#</string>
				<key>log_options_endpoint</key>
				<string>#</string>
			</dict>
			<key>security</key>
			<dict>
				<key>ca_list_file</key>
				<string>/Users/valery/Projects/certificates/08.03.12/QA_WC.pem</string>
				<key>cert_file</key>
				<string>/Users/valery/Projects/certificates/08.03.12/2_valpolmacbook1_cert.pem</string>
				<key>ciphers</key>
				<string>ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES256-SHA:DHE-DSS-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:DHE-DSS-CAMELLIA256-SHA:ECDH-RSA-AES256-SHA:ECDH-ECDSA-AES256-SHA:AES256-SHA:CAMELLIA256-SHA:PSK-AES256-CBC-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:EDH-DSS-DES-CBC3-SHA:ECDH-RSA-DES-CBC3-SHA:ECDH-ECDSA-DES-CBC3-SHA:DES-CBC3-SHA:PSK-3DES-EDE-CBC-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA:DHE-RSA-SEED-SHA:DHE-DSS-SEED-SHA:DHE-RSA-CAMELLIA128-SHA:DHE-DSS-CAMELLIA128-SHA:ECDH-RSA-AES128-SHA:ECDH-ECDSA-AES128-SHA:AES128-SHA:SEED-SHA:CAMELLIA128-SHA:PSK-AES128-CBC-SHA:EDH-RSA-DES-CBC-SHA:EDH-DSS-DES-CBC-SHA:DES-CBC-SHA:EXP-EDH-RSA-DES-CBC-SHA:EXP-EDH-DSS-DES-CBC-SHA:EXP-DES-CBC-SHA:EXP-RC2-CBC-MD5</string>
				<key>method</key>
				<string>sslv23</string>
				<key>password</key>
				<string></string>
				<key>privkey_file</key>
				<string>/Users/valery/Projects/certificates/08.03.12/2_valpolmacbook1_priv_key.pem</string>
				<key>require_client_cert</key>
				<false/>
				<key>server_name</key>
				<string></string>
				<key>srtp_secure_signaling</key>
				<string>no</string>
				<key>timeout</key>
				<integer>0</integer>
				<key>tls_enabled</key>
				<true/>
				<key>use_srtp</key>
				<string>optional</string>
				<key>verify_client</key>
				<false/>
				<key>verify_server</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
